body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(https://t4.ftcdn.net/jpg/07/53/49/19/360_F_753491931_iwwdZJr7rQol2Yxzczribe3gpISFzABW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.qr-card{
    width: 300px;
    height: 450px;
    border: 4px double black;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fefefe;
    border-radius: 5%;
    border: none;
    background: linear-gradient(45deg, black, gray);
}

#qr-code{
    margin-top:35px;
    text-align: center;
    border: dotted black;
    height: 200px;
    width: 200px;
}

#generate-button{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); 
    height: 50px;
    width: 150px;
    background-color: #007bff; 
    color: #fefefe;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

#generate-button:hover{
    background-color: #0056b3;
    font-weight: bold;
}



#input-text{
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%); 
    height: 6%;
    width: 100%;
    max-width: 200px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

#input-text:focus{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#popup{
    display: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: antiquewhite;
  }